<% context = context.to_sym %>
<% export_status_state = local_assigns.fetch(:export_status_state) { resume_export_status_state(resume, context: context) } %>

<div id="<%= dom_id(resume, "#{context}_export_status") %>">
  <%= render Ui::WidgetCardComponent.new(**export_status_state.widget_attributes) do %>
    <% if export_status_state.download_available? %>
      <%= link_to t("resumes.export_status_state.actions.download_pdf"), export_status_state.download_path, data: { turbo: false }, class: ui_button_classes(export_status_state.download_button_style, size: :sm) %>
    <% end %>
  <% end %>
</div>
