<% start_flow_state = Resumes::StartFlowState.new(resume: @resume, step: params[:step]) %>

<section class="space-y-5">
  <%= render Ui::PageHeaderComponent.new(
    eyebrow: t(".header_eyebrow"),
    title: t(".header_title"),
    description: t(".header_description"),
    actions: [
      { label: t(".back_to_workspace"), path: resumes_path, style: :secondary }
    ],
    density: :compact
  ) %>

  <% if start_flow_state.experience_step? %>
    <%= render "start_flow_experience_step", resume: @resume, start_flow_state: start_flow_state %>
  <% elsif start_flow_state.student_step? %>
    <%= render "start_flow_student_step", resume: @resume, start_flow_state: start_flow_state %>
  <% else %>
    <%= render "form", resume: @resume, start_flow_state: start_flow_state %>
  <% end %>
</section>
