<% start_flow_state = Resumes::StartFlowState.new(resume: @resume, step: params[:step]) %>
<% page_header_key = if start_flow_state.experience_step?
                       :experience
                     elsif start_flow_state.student_step?
                       :student
                     else
                       :setup
                     end %>
<% page_header_badges = [] %>
<% if start_flow_state.selected_experience_option.present? %>
  <% page_header_badges << {
       label: t(".page_header.badges.selected_experience", label: start_flow_state.selected_experience_option.fetch(:label)),
       tone: :neutral
     } %>
<% end %>
<% if @resume.template.present? %>
  <% page_header_badges << {
       label: t(".page_header.badges.selected_template", template: @resume.template.name),
       tone: :neutral
     } %>
<% end %>

<section class="space-y-5">
  <%= render Ui::PageHeaderComponent.new(
    eyebrow: t(".page_header.#{page_header_key}.eyebrow"),
    title: t(".page_header.#{page_header_key}.title"),
    description: t(".page_header.#{page_header_key}.description"),
    badges: page_header_badges,
    actions: [
      { label: t(".back_to_workspace"), path: resumes_path, style: :secondary }
    ],
    density: :compact
  ) %>

  <% if start_flow_state.experience_step? %>
    <%= render "start_flow_experience_step", resume: @resume, start_flow_state: start_flow_state %>
  <% elsif start_flow_state.student_step? %>
    <%= render "start_flow_student_step", resume: @resume, start_flow_state: start_flow_state %>
  <% else %>
    <%= render "form", resume: @resume, start_flow_state: start_flow_state %>
  <% end %>
</section>
